
/*----------------------------------------------------------
Reset
----------------------------------------------------------*/
.form_control.error
{
	border-color:#f00 !important; 
} 
label.error
{
	display: none !important;
}


@font-face {
	font-family: 'Proxima Nova Rg';
	src: url("../fonts/ProximaNova-Bold.eot");
	src: url("../fonts/ProximaNova-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Bold.woff2") format("woff2"), url("../fonts/ProximaNova-Bold.woff") format("woff"), url("../fonts/ProximaNova-Bold.ttf") format("truetype"), url("../fonts/ProximaNova-Bold.svg#ProximaNova-Bold") format("svg");
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Proxima Nova Lt';
	src: url("../fonts/ProximaNova-Semibold.eot");
	src: url("../fonts/ProximaNova-Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Semibold.woff2") format("woff2"), url("../fonts/ProximaNova-Semibold.woff") format("woff"), url("../fonts/ProximaNova-Semibold.ttf") format("truetype"), url("../fonts/ProximaNova-Semibold.svg#ProximaNova-Semibold") format("svg");
	font-weight: 600;
	font-style: normal;
} 

@font-face {
	font-family: 'Proxima Nova Rg';
	src: url("../fonts/ProximaNova-Regular.eot");
	src: url("../fonts/ProximaNova-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Regular.woff2") format("woff2"), url("../fonts/ProximaNova-Regular.woff") format("woff"), url("../fonts/ProximaNova-Regular.ttf") format("truetype"), url("../fonts/ProximaNova-Regular.svg#ProximaNova-Regular") format("svg");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Proxima Nova Lt';
	src: url("../fonts/ProximaNova-Light.eot");
	src: url("../fonts/ProximaNova-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Light.woff2") format("woff2"), url("../fonts/ProximaNova-Light.woff") format("woff"), url("../fonts/ProximaNova-Light.ttf") format("truetype"), url("../fonts/ProximaNova-Light.svg#ProximaNova-Light") format("svg");
	font-weight: 300;
	font-style: normal;
}

body {
	overflow-x: hidden;
	padding-right: 0 !important;
	font-weight: normal;
	font-family: 'Proxima Nova Rg';
	font-size: 1rem;
}

.modal-open .modal {
	overflow-x: hidden;
	overflow-y: auto;
}

html,
body {
	height: 100%;
}

body:before,
body:after {
	content: none !important;
}

::i-block-chrome,
body {
	-webkit-text-stroke: 0.1px;
}

iframe {
	margin-bottom: 0;
}

img {
	max-width: 100%;
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
span,
p,
ul {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	background: transparent;
	clear: none;
}

figure {
	margin: 0;
}

label {
	font-weight: normal;
}

*:focus {
	outline: none;
}

a {
	color: #26a9e0;
	text-decoration: none;
	outline: none;
}

a:hover,
a:focus,
a:active {
	text-decoration: none;
	outline: none;
	color: #20c4f4;
}

a,
input[type="submit"] {
	-webkit-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="url"],
input[type="tel"],
input[type="number"],
textarea,
select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

input:focus,
select:focus, 
button:focus {
	-webkit-box-shadow: none;
	box-shadow: none;
	outline: none;
}

select::-ms-expand {
	display: none;
}

*::-webkit-input-placeholder {
	color: #a9a9a9;
	opacity: 1;
}

*::-moz-placeholder {
	color: #a9a9a9;
	opacity: 1;
}

*:-ms-input-placeholder {
	opacity: 1;
	color: #a9a9a9;
}

.modal {
	text-align: center;
}

.modal:before {
	content: '';
	display: inline-block;
	height: 100%;
	vertical-align: middle;
	margin-right: -4px;
}

.modal-open {
	overflow-y: auto;
	overflow-x: hidden;
	padding: 0 !important;
}

.modal-dialog {
	display: inline-block;
	vertical-align: middle;
	text-align: left;
}

#preloader {
	overflow: hidden;
	background-color: #18171d;
	height: 100%;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 9999999999;
}

.cssload-loader {
	width: 48px;
	height: 48px;
	border-radius: 50%;
	margin: 3em;
	display: inline-block;
	position: absolute;
	vertical-align: middle;
	background: #ccc;
	z-index: 9;
	top: 50%;
	margin-top: -24px;
	left: 50%;
	margin-left: -24px;
}

.cssload-loader,
.cssload-loader:before,
.cssload-loader:after {
	animation: 1.15s infinite ease-in-out;
	-o-animation: 1.15s infinite ease-in-out;
	-ms-animation: 1.15s infinite ease-in-out;
	-webkit-animation: 1.15s infinite ease-in-out;
	-moz-animation: 1.15s infinite ease-in-out;
}

.cssload-loader:before,
.cssload-loader:after {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	position: absolute;
	top: 0;
	left: 0;
}

.cssload-loader {
	animation-name: cssload-loader;
	-o-animation-name: cssload-loader;
	-ms-animation-name: cssload-loader;
	-webkit-animation-name: cssload-loader;
	-moz-animation-name: cssload-loader;
}

@keyframes cssload-loader {
	from {
		-webkit-transform: scale(0);
		transform: scale(0);
		opacity: 1;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	}
	to {
		-webkit-transform: scale(1);
		transform: scale(1);
		opacity: 0;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	}
}

@-webkit-keyframes cssload-loader {
	from {
		-webkit-transform: scale(0);
		opacity: 1;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	}
	to {
		-webkit-transform: scale(1);
		opacity: 0;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	}
}


/*****  Main CSS  *****/

.display-table {
	display: table;
	width: 100%;
	height: 100%;
}

.display-table-cell {
	display: table-cell;
	vertical-align: middle;
}

.container .container {
	width: auto;
	padding: 0;
}

.animated {
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}

.cstm_flex {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

h1 {}

h2 {
	font-size: 35px;
	color: #303030;
	font-family: 'Proxima Nova Lt';
	font-weight: 300;
}

h3 {
	font-size: 30px;
}

h4 {
	font-size: 27px;
}

h5 {
	font-size: 25px;
}

h6 {
	font-size: 20px;
}

p {
	color: #242424;
	font-family: 'Proxima Nova Lt';
	font-weight: 300;
	font-size: 16px;
}


/**** Owl Carousel ****/

.owl-carousel .owl-wrapper:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}


/* display none until init */

.owl-carousel {
	display: none;
	position: relative;
	width: 100%;
	-ms-touch-action: pan-y;
}

.owl-carousel .owl-wrapper {
	display: none;
	position: relative;
	-webkit-transform: translate3d(0px, 0px, 0px);
}

.owl-carousel .owl-wrapper-outer {
	overflow: hidden;
	position: relative;
}

.owl-carousel .owl-wrapper-outer.autoHeight {
	-webkit-transition: height 500ms ease-in-out;
	-moz-transition: height 500ms ease-in-out;
	-ms-transition: height 500ms ease-in-out;
	-o-transition: height 500ms ease-in-out;
	transition: height 500ms ease-in-out;
}

.owl-carousel .owl-item {
	float: left;
}

.owl-controls .owl-page,
.owl-controls .owl-buttons div {
	cursor: pointer;
}

.owl-controls {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}


/* mouse grab icon */

.grabbing {
	cursor: url(grabbing.png) 8 8, move;
}


/* fix */

.owl-carousel .owl-wrapper,
.owl-carousel .owl-item {
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
}

.owl-theme .owl-controls {
	margin-top: 0px;
	text-align: center;
}


/* Styling Next and Prev buttons */


/* Clickable class fix problem with hover on touch devices */


/* Use it for non-touch hover action */

.owl-theme .owl-controls.clickable .owl-buttons div:hover {
	filter: Alpha(Opacity=100);
	/*IE7 fix*/
	opacity: 1;
	text-decoration: none;
}


/* Styling Pagination*/

.owl-theme .owl-controls .owl-page {
	display: inline-block;
	zoom: 1;
	*display: inline;
	/*IE7 life-saver */
}

.owl-theme .owl-controls .owl-page span {
	display: block;
	width: 8px;
	height: 8px;
	margin: 0 10px 0 0;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	background: #bcbcbc;
}

.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span {
	background: #ae8910;
}


/* If PaginationNumbers is true */

.owl-theme .owl-controls .owl-page span.owl-numbers {
	height: auto;
	width: auto;
	color: #FFF;
	padding: 2px 10px;
	font-size: 12px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
}

.owl-item .item {
	margin: auto;
	padding: 0;
	text-align: center;
}

.owl-prev,
.owl-next {
	-webkit-box-shadow: none;
	box-shadow: none;
	height: 47px;
	opacity: 1;
	text-align: center;
	text-shadow: none;
	width: 47px;
	line-height: 43px;
	top: 50%;
	bottom: 0;
	font-size: 0;
	position: absolute;
	-webkit-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
	left: -52px;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	border: 2px solid #e0e0e0;
}

.owl-next {
	right: -52px;
	left: auto;
}

.owl-prev:before,
.owl-next:before {
	position: absolute;
	content: '\f104';
	font-family: 'FontAwesome';
	font-size: 30px;
	left: 0px;
	right: 0;
	color: #5c5c5c;
	-webkit-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}

.owl-next:before {
	content: '\f105';
	right: -2px;
	left: 0;
}

.owl-prev:hover:before,
.owl-next:hover:before {
	color: #fff;
}

.owl-prev:hover,
.owl-next:hover {
	background: #20c4f4;
	border-color: #20c4f4;
}

.owl-pagination {
	display: none;
}

@-webkit-keyframes market-background {
	from {
		background-position-y: 0;
	}
	to {
		background-position-y: -500px;
	}
}

@keyframes market-background {
	from {
		background-position-y: 0;
	}
	to {
		background-position-y: -500px;
	}
}

.radio_list {
	width: 100%;
	margin-top: 0;
	margin-bottom: 31px;
	text-align: left;
}

.radio_list label {
	white-space: nowrap;
	color: #000;
	font-size: 20px;
	font-weight: normal;
	line-height: 18px;
	text-align: left;
	margin-right: 21px;
	font-family: 'Proxima Nova Rg';
	cursor: pointer;
}

.radio_list input[type="radio"] {
	display: none;
}

.radio_list input[type="radio"]:checked + span.circle:before {
	background: #3ec2da none repeat scroll 0 0;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	bottom: 0;
	content: "";
	height: 8px;
	left: 0;
	margin: auto;
	position: absolute;
	right: 0;
	top: 0;
	width: 8px;
}

.radio_list span.circle {
	background: #ffffff none repeat scroll 0 0;
	border: 2px solid #20c4f4;
	border-radius: 50%;
	display: inline-block;
	height: 18px;
	margin-right: 13px;
	margin-top: 0;
	position: relative;
	vertical-align: top;
	width: 18px;
}

.slct {
	position: relative;
	z-index: 1;
}

.slct:after {
	position: absolute;
	top: 15px;
	right: 18px;
	content: '\f107';
	font-family: 'FontAwesome';
	font-size: 24px;
	color: #4c4c4c;
	line-height: normal;
	z-index: -1;
}

select.placeholder1 {
	color: #999;
}

.slct select {
	cursor: pointer;
}

.slct select option {
	padding: 10px;
}

.cptl {
	text-transform: capitalize;
}

header {
	border-bottom: 0.0625rem solid #eaeaec;
}

header .head-wrap {
	-webkit-justify-content: space-between;
	-moz-justify-content: space-between;
	-ms-justify-content: space-between;
	-webkit-box-pack: justify;
	justify-content: space-between;
	-ms-flex-pack: space-between;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	-moz-align-items: center;
	-ms-align-items: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

header .head-wrap .head-wrap-lft {
	width: 29.8125rem;
	background: #20c4f4;
	padding-left: 1.875rem;
	text-align: center;
	padding-top: 1.875rem;
	padding-bottom: 1.875rem;
	position: relative;
}

header .head-wrap .head-wrap-lft a {
	display: inline-block;
	width: 19.0625rem;
	text-align: center;
}

header .head-wrap .head-wrap-lft a img {
	width: 100%;
}

header .head-wrap .head-wrap-lft:before {
	background: #20c4f4;
	position: absolute;
	margin-left: -625rem;
	width: 625rem;
	left: 0;
	top: 0;
	content: '';
	height: 100%;
}

header .head-wrap .head-wrap-rght {
	padding-top: 1.875rem;
	padding-bottom: 1.875rem;
	padding-right: 1.875rem;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	-moz-align-items: center;
	-ms-align-items: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

header .head-wrap .head-wrap-rght .form-group-main {
	position: relative;
	margin-right: 2.0625rem;
}

header .head-wrap .head-wrap-rght .form-group-main .form_control {
	width: 37.0625rem;
	margin-right: 0;
	padding-right: 4.75rem;
}

header .head-wrap .head-wrap-rght .form-group-main button {
	position: absolute;
	cursor: pointer;
	right: 2.5rem;
	position: absolute;
	top: 50%;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	color: #20c4f4;
	font-size: 1.5625rem;
	border: 0;
	background: transparent;
	padding: 0;
}
ul.chosen-choices.cptl.form_control {
    color: #404040;
	font-size: 1.125rem;
	font-weight: 300;
	font-family: 'Proxima Nova Lt';
	padding: 0 1.75rem;
	width: 14.375rem;
	height: 3.5625rem;
	border: 0.0625rem solid #d1d1d1;
	border-radius: 0.3125rem;
	-webkit-border-radius: 0.3125rem;
}

element.style {
}
.chosen-container.chosen-container-multi {
    margin-bottom: 20px !important; 
	width:100%;
}
.chosen-container-multi .chosen-choices {
    position: relative;
    overflow: hidden;
    margin: 0;
    padding: 12px 5px;
    width: 100%;
    color: #404040;
	font-size: 1.125rem;
	font-weight: 300;
    height: 52px !important;
   	border: 0.0625rem solid #d1d1d1;
	border-radius: 0.3125rem;
	-webkit-border-radius: 0.3125rem;
    margin-bottom: 20px;
}
.chosen-container-multi .chosen-choices li.search-choice {
    margin: 15px 5px 3px 0!important;
}
#addmember_modal .chosen-container-multi .chosen-choices{
    width: 590px !important;
    vertical-align: middle;
}
#addmember_modal .chosen-container.chosen-container-multi {
    margin-bottom: 20px !important;
    width: 590px !important;
}
.form_control {
	color: #404040;
	font-size: 1.125rem;
	font-weight: 300;
	font-family: 'Proxima Nova Lt';
	padding: 0 1.75rem;
	width: 14.375rem;
	height: 3.5625rem;
	border: 0.0625rem solid #d1d1d1;
	border-radius: 0.3125rem;
	-webkit-border-radius: 0.3125rem;
}
body .chosen-container-multi .chosen-choices:focus,
.form_control:focus {
	border-color: #20c4f4;
}

.usr-svg svg {
	width: 2.125rem;
	height: 1.5rem;
	display: inline-block;
	margin-left: 0.9375rem;
	fill: #25C4F4;
	vertical-align: middle;
	margin-top: -0.3125rem;
}

.usr-edit {
	margin-left: 0.625rem;
}

.usr-edit svg {
	width: 19px;
	height: 19px;
	fill: #fff;
}

.usr-edit figure img {
	height: 100%;
}

.btn-white {
	color: #2dc5f4;
	font-size: 1.375rem;
	font-family: 'Proxima Nova Lt';
	font-weight: 300;
	text-transform: capitalize;
	border: 0.0625rem solid #2dc5f4;
	border-radius: 0.3125rem;
	-webkit-border-radius: 0.3125rem;
	min-width: 14.3125rem;
	padding: 0.625rem;
	text-align: center;
	-moz-transition: none;
	-o-transition: none;
	-webkit-transition: none;
	transition: none;
	display: inline-block;
}

.btn-white:hover,
.btn-white:focus {
	background: #20c4f4;
	color: #fff;
}

.btn-white:hover svg,
.btn-white:focus svg {
	fill: #fff;
}

.btn-blue {
	color: #fff;
	font-size: 1.375rem;
	font-family: 'Proxima Nova Lt';
	font-weight: 300;
	text-transform: capitalize;
	border: 0.0625rem solid #2dc5f4;
	border-radius: 0.3125rem;
	-webkit-border-radius: 0.3125rem;
	min-width: 14.3125rem;
	padding: 0.625rem;
	text-align: center;
	-moz-transition: none;
	-o-transition: none;
	-webkit-transition: none;
	transition: none;
	display: inline-block;
	background: #2dc5f4;
}

.btn-blue:hover,
.btn-blue:focus {
	background: #fff;
	color: #25C4F4;
}

.btn-blue:hover svg,
.btn-blue:focus svg {
	fill: #2dc5f4;
}

.account-wrap {
	position: relative;
	margin-left: 5rem;
}

.account-wrap .account-item {
	cursor: pointer;
}

.account-wrap .account-item .image {
	width: 3.625rem;
	height: 3.625rem;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	display: inline-block;
	vertical-align: middle;
	background-color: #f1f1f1;
	position:relative;
}

.account-wrap .account-item .image img {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	-webkit-border-radius: 50%;
}

.account-wrap .account-item > .content {
	display: inline-block;
	vertical-align: middle;
}

.account-wrap .account-item > .content a {
	color: red;
}

.account-wrap .account-item > .content a:after {
	font-family: 'FontAwesome';
	font-weight: 500;
	content: '\f107';
	display: inline-block;
	font-size: 1.125rem;
	margin-left: 0.6875rem;
	color: #2dc5f4;
}

.account-wrap .account-dropdown {
	min-width: 19.0625rem;
	position: absolute;
	top: 3.625rem;
	right: 0;
	background: #fff;
	-webkit-box-shadow: 0 0.3125rem 0.625rem 0rem rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 0.3125rem 0.625rem 0rem rgba(0, 0, 0, 0.1);
	box-shadow: 0 0.3125rem 0.625rem 0rem rgba(0, 0, 0, 0.1);
	-webkit-transform: scale(0);
	-moz-transform: scale(0);
	-ms-transform: scale(0);
	-o-transform: scale(0);
	transform: scale(0);
	-webkit-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	transition: all 0.4s ease;
	-webkit-transform-origin: right top;
	-moz-transform-origin: right top;
	-ms-transform-origin: right top;
	-o-transform-origin: right top;
	transform-origin: right top;
	z-index: 3;
}

.account-wrap .account-dropdown .info {
	padding: 0.9375rem;
	border-top: 0.0625rem solid #efefef;
	border-bottom: 0.0625rem solid #efefef;
}

.account-wrap .account-dropdown .info .content {
	margin-left: 0.9375rem;
	padding: 0;
	padding-left: 0.75rem;
	display: inline-block;
	vertical-align: middle;
}

.account-wrap .account-dropdown .info .content .name a {
	color: #333;
	font-weight: 500;
	text-transform: capitalize;
	font-size: 1.1875rem;
}

.account-wrap .account-dropdown .info .content .name a:hover,
.account-wrap .account-dropdown .info .content .name a:focus {
	color: #20c4f4;
}

.account-wrap .account-dropdown .info .content .email {
	font-size: 0.8125rem;
	color: #999;
}

.account-wrap .account-dropdown:after {
	content: '';
	display: block;
	width: 1.1875rem;
	height: 1.1875rem;
	border-bottom: 0.5625rem solid #fff;
	border-top: 0.5625rem solid transparent;
	border-left: 0.5625rem solid transparent;
	border-right: 0.5625rem solid transparent;
	position: absolute;
	top: -1.125rem;
	right: 2.875rem;
}

.account-wrap .account-dropdown .account-dropdown__item a {
	display: block;
	color: #333;
	padding: 0.9375rem 1.5625rem;
	font-size: 1rem;
	font-weight: normal;
}

.account-wrap .account-dropdown .account-dropdown__item a:hover {
	background: #26a9e0;
	color: #fff;
}

.account-wrap .account-dropdown .account-dropdown__item a i {
	font-size: 1rem;
	margin-right: 0.75rem;
}

.account-wrap .account-dropdown .account-dropdown__item.account-active a {
	background: #26a9e0;
	color: #fff;
}

.account-wrap .account-dropdown .account-dropdown__footer {
	border-top: 0.0625rem solid #f2f2f2;
}

.account-wrap .account-dropdown .account-dropdown__footer a {
	display: block;
	color: #333;
	padding: 0.9375rem 1.5625rem;
	font-size: 1rem;
	font-weight: normal;
}

.account-wrap .account-dropdown .account-dropdown__footer a:hover {
	background: #26a9e0;
	color: #fff;
}

.account-wrap .account-dropdown .account-dropdown__footer a i {
	margin-right: 0.75rem;
	font-size: 1rem;
}

.show-dropdown .js-dropdown {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
}

.sidenav {
	height: 100%;
	width: 142px;
	position: fixed;
	z-index: 99;
	top: 122px;
	left: 0;
	background-color: #818d9d;
	transition: 0.5s;
	padding-top: 0px;
}

.sidenav h1 {
	font-size: 23px;
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	position: absolute;
	top: 24px;
	left: 0;
	display: none;
	right: 0;
	height: 30px;
	width: 0;
	overflow: hidden;
}

.sidenav ul li {
	list-style: none;
	clear: both;
	position: relative;
}

.sidenav ul li:nth-child(3) svg {
	fill: transparent;
}

.sidenav .sidebar-mnu > li> a {
	padding: 24px 30px 24px 45px;
	text-decoration: none;
	color: #b8afaf;
	display: block;
	transition: 0.8s;
	-webkit-transition: 0.8s;
	border-right: 9px solid transparent;
	position: relative;
	overflow: hidden;
	height: 82px;
	border-top: 1px solid #8e99a7;
}

.sidenav.MyClass h1 {
	display: block;
	width: 100%;
}

.sidenav .sidebar-mnu > li> a:hover,
.sidenav .sidebar-mnu > li> a:focus,
.sidenav .sidebar-mnu > li> a.active {
	background: #4e5f6e;
	border-right-color: #20c4f4;
}


/*.sidenav a:hover svg,.sidenav a:focus svg,.sidenav a.active svg{fill:#20c4f4 !important;stroke-fill:#20c4f4;}*/

.sidenav a span {
	vertical-align: middle;
	display: none;
	transition: 0.3s;
	-webkit-transition: 0.3s;
	width: 0;
	overflow: hidden;
	height: 30px;
}

.sidenav a svg {
	fill: #fff;
	width: 34px;
	height: 34px;
	display: inline-block;
	vertical-align: middle;
	margin: 0;
	position: absolute;
	left: 45px;
	top: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
}

.sidenav a:nth-child(4) svg {
	fill: #818d9d;
}

.sidenav .closebtn {
	position: absolute;
	top: -24px;
	right: -6px;
	font-size: 36px !important;
	margin-left: 0;
	color: #fc301c;
	opacity: 1;
	background: transparent !important;
	border: 0 !important;
	display: none;
}

.sidenav.MyClass a span {
	display: inline-block;
	font-size: 22px;
	width: 80%;
	color: #fff;
	font-family: 'Proxima Nova Lt';
	font-weight: 300;
	padding-left: 70px;
}

.sidenav.MyClass a svg {
	width: 30px;
	height: 30px;
}

.sidenav .dropdown-menu1 {
	/*position: static !important;
	top: 100% !important;
	transform: none !important;*/
	background: transparent;
	border: 0;
	width: 100%;
	padding: 15px 0 15px 116px;
	display: none;
}


/*.sidenav ul li.has-children > a:after {
	content: '\f105';
	position: absolute;
	font-family: 'FontAwesome';
	color: #fff;
	font-size: 20px;
	right: 30px;
	top: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
}
*/

.sidenav ul li .drop-down {
	position: absolute;
	transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	color: #fff;
	font-size: 20px;
	right: 0px;
	top: 28px;
	/* transform: translateY(-50%); */
	/* -webkit-transform: translateY(-50%); */
	width: 44px;
	text-align: left;
	cursor: pointer;
	z-index: 2;
}

.open .fa-angle-right:before {
	content: "\f107";
	/* top: -22px; */
	/* position: absolute; */
}

.sidenav ul li.has-children > a[aria-expanded="true"]:after {
	content: '\f107';
	font-family: 'FontAwesome';
}

.sidenav .dropdown-menu1 li a {
	font-size: 18px;
	color: #20c4f4;
	padding-left: 18px;
	transition: none;
	-webkit-transition: none;
}

.sidenav .dropdown-menu1 li a:before {
	content: '\f0da';
	position: absolute;
	top: 0;
	left: 0;
	font-family: 'FontAwesome';
	color: #20c4f4;
	font-size: 16px;
}

.sidenav .dropdown-menu1 li a:hover,
.sidenav .dropdown-menu1 li a:focus,
.sidenav .dropdown-menu1 li a.active1,
.sidenav .dropdown-menu1 li a:hover:before,
.sidenav .dropdown-menu1 li a:focus:before,
.sidenav .dropdown-menu1 li a.active1:before {
	color: #fff;
}

.block {
	height: 50px;
	width: 50px;
	border-radius: 5px;
	-webkit- border-radius: 5px;
	background-color: #294a67;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	justify-content: center;
	-webkit-justify-content: center;
	align-items: center;
	-webkit-align-items: center;
	display: none !important;
	flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
}

.cta {
	height: 50px;
	width: 50px;
	cursor: pointer;
}

.toggle-btn {
	height: 2px;
	width: 25px;
	background-color: #fff;
	position: relative;
	top: 50%;
	left: 0;
	margin: auto;
	transition: all 0.3s ease-in-out;
}

.toggle-btn:before {
	content: "";
	height: 2px;
	width: 25px;
	box-shadow: 0 -10px 0 0 #fff;
	position: absolute;
	top: 0;
	left: 0;
	transition: all 0.3s ease-in-out;
}

.toggle-btn:after {
	content: "";
	height: 2px;
	width: 25px;
	box-shadow: 0 10px 0 0 #fff;
	position: absolute;
	top: 0;
	left: 0;
	transition: all 0.3s ease-in-out;
}

.active .toggle-btn {
	background-color: transparent;
	transition: all 0.2s ease-in-out;
}

.active .toggle-btn:before {
	top: 0;
	transition: all 0.3s ease-in-out;
}

.active .toggle-btn:after {
	top: 0;
	transition: all 0.3s ease-in-out;
}

.active .type10 {
	background-color: #fff;
	transform: rotate(45deg);
}

.active .type10:before {
	box-shadow: 0 0 0 0 #fff;
}

.active .type10:after {
	left: -10px;
	box-shadow: 0 -10px 0 0 #fff;
	transform: translateY(0) rotate(90deg);
}

.sidenav.MyClass .closebtn {
	display: block;
}

.tg .sidenav a svg {
	left: 45px;
}

#main {
	transition: margin-left .5s;
	-webkit-transition: margin-left .5s;
	position: relative;
	height: 100%;
}


/*.tg {
	margin-left: 322px;
}*/

.menu-icon {
	cursor: pointer;
	display: inline-block;
	position: absolute;
	top: -26px;
	z-index: 99;
	right: -21px;
}

.MyClass {
	width: 322px;
}

#main1 {
	transition: margin-left .5s;
	-webkit-transition: margin-left .5s;
}

.sidebar-rght {
	margin-left: 322px;
	padding: 45px 0 45px 65px;
}

.dashboard-wrapper {
	width: 67%;
}

.share-post-sctn {
	width: 91%;
	padding: 14px 26px;
	border: 1px solid #d9d9d9;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	color: #404040;
	font-size: 18px;
	font-weight: 300;
	font-family: 'Proxima Nova Lt';
	display: block;
	margin-right: 28px;
	display: inline-block;
	vertical-align: middle;
}

.share-post figure {
	display: inline-block;
	vertical-align: middle;
}

.share-post figure a {
	display: block;
}

.share-post figure img {
	width: 56px;
	vertical-align: middle;
}

.share-post figure:hover,
.share-post figure:focus {
	opacity: 0.6;
}

.share-post {
	margin-bottom: 60px;
}

.post-info-sctn-lft {
	display: inline-flex;
	display: -webkit-inline-flex;
	align-items: center;
	-webkit-align-items: center;
	-moz-align-items: center;
	-ms-align-items: center;
	flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
}

.post-info-sctn-lft figure {
	width: 94px;
	height: 94px;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	overflow: hidden;
	margin-right: 27px;
	background-color: #f1f1f1;
}

.post-info-sctn-lft figure img {
	width: 100%;
}

.post-info-sctn-lft h2 {
	font-size: 35px;
	font-weight: 300;
	font-family: 'Proxima Nova Lt';
	text-transform: capitalize;
	margin-bottom: 0;
}

.post-info-sctn {
	-webkit-justify-content: space-between;
	-moz-justify-content: space-between;
	-ms-justify-content: space-between;
	justify-content: space-between;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	-moz-align-items: center;
	-ms-align-items: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	margin-bottom: 27px;
	flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
}

.date-sctn {
	font-size: 18px;
	color: #404040;
	font-weight: 300;
	font-family: 'Proxima Nova Lt';
	position: relative;
}

.date-sctn span {
	vertical-align: middle;
	padding-top: 7px;
}

.dot-sctn {
	width: 10px;
	display: inline-block;
	vertical-align: middle;
	margin-left: 33px;
}

.dot-sctn span {
	width: 10px;
	height: 10px;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	background: #fff;
	border: 2px solid #2dc5f4;
	display: block;
	margin-bottom: 2px;
}

.dot-sctn span:last-child {
	margin-bottom: 0;
}

.post-info-cntnt p {
	font-size: 20px;
	color: #242424;
	font-weight: 300;
	font-family: 'Proxima Nova Lt';
}

.opn_stry {
	position: relative;
	color: #2dc5f4;
	font-family: 'Proxima Nova Lt';
	font-weight: 600;
}

.opn_stry:after {
	position: absolute;
	content: '';
	top: 100%;
	left: 0;
	background: #2dc5f4;
	width: 100%;
	height: 1px;
	transition: all 0.4s ease-in-out;
	-webkit-transition: all 0.4s ease-in-out;
}

.opn_stry:hover,
.opn_stry:focus {
	color: #4e5f6e;
}

.opn_stry:hover:after,
.opn_stry:focus:after {
	background: #4e5f6e;
}

.dashboard-home header {
	position: fixed;
	width: 100%;
	top: 0;
	background: #fff;
	z-index: 3;
}

.dashboard_content {
	margin-top: 122px;
	padding-bottom: 170px;
}

.post-info-cntnt figure {
	border-radius: 10px;
	-webkit-border-radius: 10px;
	overflow: hidden;
	margin: 24px 0;
}
.post-info-cntnt video
{
	width: 100%;
	height: auto;
}
.post-info-cntnt figure img {
	width: 100%;
	 height: 350px;/* harry */
}

.post-info-cmnt li {
	display: inline-block;
	list-style: none;
	margin-right: 62px;
}

.post-info-cmnt li:last-child {
	margin-right: 0;
}

.post-info-cmnt li i {
	color: #2dc5f4;
	margin-right: 15px;
	font-size: 26px;
	vertical-align: middle;
}

.post-info-cmnt li a {
	color: #404040;
	font-size: 18px;
	font-weight: 300;
	font-family: 'Proxima Nova Lt';
	display: inline-block;
}

.post-info-cmnt li span {
	vertical-align: middle;
	display: inline-block;
	padding-top: 6px;
}

.post-info-cmnt li a:hover span,
.post-info-cmnt li a:focus span {
	color: #2dc5f4;
}

.post-main-bx {
	padding-bottom: 50px;
	margin-bottom: 50px;
	border-bottom: 1px solid #dcdcdc;
}

.post-main-bx:last-child {
	margin-bottom: 0;
	padding-bottom: 0;
	border-bottom: 0;
}

.view_links1 {
	background: #f3f2f2;
	width: 181px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	padding: 24px 20px;
	position: absolute;
	right: 44px;
	top: -27px;
}

.view_links1:after {
	content: '';
	position: absolute;
	border-top: 16px solid transparent;
	border-bottom: 16px solid transparent;
	border-left: 27px solid #f3f2f2;
	right: -24px;
	top: 30px;
}

.view_links1 li {
	list-style: none;
	font-size: 16px;
	color: #404040;
	font-weight: 600;
	font-family: 'Proxima Nova Lt';
	margin-bottom: 18px;
}

.view_links1 li:last-child {
	margin-bottom: 0;
}

.view_links1 li a {
	color: #9f9e9e;
}

.view_links1 svg {
	width: 21px;
	height: 21px;
	margin-right: 23px;
	vertical-align: middle;
}

.view_links1 li a:hover,
.view_links1 li a:focus {
	color: #2dc5f4;
}

.post-main h1 {
	margin-bottom: 10px;
	display: block;
	font-size: 27px;
	color: #303030;
	font-family: 'Proxima Nova Lt';
	font-weight: 600;
}


/**** Create Post Page ****/

.tp_89 {
	margin-top: 35px;
}

.create-post h2 {
	letter-spacing: 1px;
	margin-bottom: 30px;
}

.post-create {
	width: 70%;
}

.post-create .form_control {
	width: 100%;
	height: 53px;
	margin-bottom: 20px;
}

.tg-input {
	padding: 0;
}

.post-create textarea.form_control {
	height: 137px;
	resize: none;
	padding: 10px 21px;
	margin-bottom: 11px;
}

.custom-file-uploader {
	position: relative;
}

input[type='file'] {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	left: 0;
	z-index: 5;
	width: 100%;
	height: 100%;
	opacity: 0;
	cursor: pointer;
}

.form_control .btn1 {
	font-size: 16px;
	color: #a9a9a9;
	font-weight: 300;
	font-family: 'Proxima Nova Lt';
	padding: 14px 0 14px 20px;
	cursor: pointer;
}

.post-create span.input-group-btn {
	width: 100%;
}

.txtsctn {
	border: 0;
	height: auto;
	width: 85%;
}

.txtsctn {
	border: 0;
	height: auto;
	width: 79%;
	position: absolute;
	top: 13px;
	right: 0;
	font-size: 16px;
	color: #404040;
	font-weight: 300;
	font-family: 'Proxima Nova Lt';
}

.input-group.form_control {
	padding-right: 0;
	padding-left: 0;
}

.attch-file {
	width: 24px;
	height: 24px;
	position: absolute;
	top: 50%;
	right: 20px;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
}

.post-create label {
	font-size: 16px;
	color: #a9a9a9;
	font-weight: 300;
	font-family: 'Proxima Nova Lt';
	padding: 14px 0px 14px 20px;
	margin-bottom: 0;
	width: 50%;
	display: inline-block;
}

p.form_control.tg-input {
	height: auto;
}

.post-create {
	width: 80%;
}


/* bootstrap-tagsinput.css file - add in local */

.bootstrap-tagsinput {
	display: inline-block;
	vertical-align: middle;
	max-width: 100%;
	cursor: text;
	width: 41%;
}

.bootstrap-tagsinput input {
	border: none;
	box-shadow: none;
	outline: none;
	background-color: transparent;
	padding: 0 6px;
	margin: 0;
	width: auto;
	max-width: inherit;
}

.bootstrap-tagsinput.form-control input::-moz-placeholder {
	color: #777;
	opacity: 1;
}

.bootstrap-tagsinput.form-control input:-ms-input-placeholder {
	color: #777;
}

.bootstrap-tagsinput.form-control input::-webkit-input-placeholder {
	color: #777;
}

.bootstrap-tagsinput input:focus {
	border: none;
	box-shadow: none;
}

.bootstrap-tagsinput .tag {
	margin-right: 2px;
	color: #404040;
	background: #f2f2f2;
	font-size: 16px;
	font-weight: 300;
	border-radius: 4px;
	padding: 5px 10px;
}

.bootstrap-tagsinput .tag [data-role="remove"] {
	margin-left: 8px;
	cursor: pointer;
	color: #e23c3c;
	font-size: 18px;
	font-weight: 600;
}

.bootstrap-tagsinput .tag [data-role="remove"]:after {
	content: "x";
	padding: 0px 2px;
}

.post-btn {
	font-size: 22px;
	color: #fff;
	font-weight: 300;
	background: #2dc5f4;
	padding: 10px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	border: 2px solid #2dc5f4;
	cursor: pointer;
	min-width: 169px;
	display: inline-block;
	margin-top: 7px;
	text-align: center;
}

.post-btn:hover,
.post-btn:focus {
	background: #26a9e0;
	border-color: #26a9e0;
	color: #fff;
}

.bootstrap-tagsinput .badge {
	margin-right: 2px;
	color: #404040;
	background: #f2f2f2;
	font-size: 16px;
	font-weight: 300;
	border-radius: 4px;
	padding: 5px 10px;
}

.bootstrap-tagsinput .badge [data-role="remove"] {
	margin-left: 8px;
	cursor: pointer;
	color: #e23c3c;
	font-size: 18px;
	font-weight: 600;
}

.bootstrap-tagsinput .badge [data-role="remove"]:after {
	content: "x";
	padding: 0px 2px;
	cursor: pointer;
	color: #e23c3c;
	font-size: 18px;
	font-weight: 600;
}

.story-page {
	padding: 0 !important;
}

.dashboard-wrapper {
	padding: 0 0 0 65px;
	margin-top: 30px;
}

.pd_none {
	padding: 0 !important;
}

.timeline-lft-main {
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	-moz-align-items: center;
	-ms-align-items: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
}

.timeline-sctn figure {
	width: 100%;
	height: 385px;
	position: relative;
	overflow: hidden;
	background-color: #f1f1f1;
}

.timeline-sctn figure img {
	height: auto;
	width: 100%;
}

.timeline-sctn .p-image {
	position: absolute;
	right: 40px;
	top: 30px;
}

.timeline-sctn .p-image img {
	width: 42px;
	height: 33px;
	opacity: 0.5;
}

.timeline-lft > figure {
	width: 213px;
	height: 213px;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	overflow: hidden;
	border: 1px solid #efefef;
	line-height: 213px;
	background-color: #f1f1f1;
}

.timeline-lft > figure img {
	vertical-align: middle;
}

.timeline-image {
	padding-left: 65px;
	position: relative;
}

.timeline-image .p-image {
	width: 58px;
	height: 59px;
	position: absolute;
	right: 10px;
	top: 100%;
	margin-top: -59px;
}

.timeline-image .p-image figure {
	border-radius: 50%;
	-webkit-border-radius: 50%;
	background: #f5f5f5;
	width: 100%;
	text-align: center;
	height: 100%;
	line-height: 58px;
}

.timeline-image .p-image figure img {
	width: 28px;
	height: 22px;
	vertical-align: middle;
}

.timeline-lft {
	position: relative;
	width: 213px;
	height: 213px;
	margin-top: -109px;
}

.timeline-name {
	margin-left: 45px;
}

.timeline-image ul {
	margin-left: 156px;
}

.timeline-image ul li {
	list-style: none;
	display: inline-block;
	font-size: 18px;
	color: #404040;
	font-weight: 300;
	font-family: 'Proxima Nova Lt';
	margin-right: 79px;
}

.timeline-image ul li:last-child {
	margin-right: 0;
}

.timeline-image ul li a {
	color: #404040;
}

.timeline-image ul li a:hover,
.timeline-image ul li a:focus,
.timeline-image ul li.current-nav a {
	color: #3fccf6;
}


/**** Bio Page ****/

.bio-page {
	width: 100%;
}

.bio-page h1 {
	font-size: 43px;
	color: #303030;
	font-family: 'Proxima Nova Lt';
	font-weight: 600;
}

.bio-page p {
	color: #404040;
	line-height: 30px;
	margin-bottom: 30px;
	-webkit-text-stroke: 0.1px;
}

.bio-page p strong {
	font-weight: 600;
	font-family: 'Proxima Nova Lt';
}

.bio-head {
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	-moz-align-items: center;
	-ms-align-items: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	justify-content: space-between;
	-webkit-justify-content: space-between;
	margin-bottom: 17px;
	flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
}

.bio-head figure {
	width: 40px;
	height: 39px;
}

.bio-head figure svg {
	width: 100%;
	height: 100%;
	fill: #20c4f4;
}

.bio-head figure a:hover svg,
.bio-head figure a:focus svg {
	fill: #26a9e0;
}

.med-sctn p {
	width: 49%;
}

.bio-page form .form_control {
	width: 100%;
	height: 53px;
	font-size: 16px;
	padding: 0 17px;
}

.bio-page form h2 {
	margin-bottom: 28px;
}

.med-sctn {
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	-moz-align-items: center;
	-ms-align-items: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	justify-content: space-between;
	-webkit-justify-content: space-between;
	flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
}

.bio-page form {
	display: none;
}

.bio-page form label {
	margin: 0;
	font-size: 16px;
	color: #8a8a8a;
	font-family: 'Proxima Nova Lt';
	font-weight: 600;
	text-transform: capitalize;
	width: 100%;
}

.bio-page form textarea.form_control {
	height: 128px;
	resize: none;
	padding: 11px 17px;
	line-height: 24px;
}

.bio-page form p {
	margin-bottom: 15px;
}

.bio-page .post-btn {
	min-width: 229px;
	margin-top: 30px;
}

.new-form1 {
	display: none;
}

.bio-page .new-form {
	display: block;
}

.photo-page .custom-file-label::after {
	display: none;
}

.photo-page .custom-file .form_control {
	width: 100%;
	height: auto;
	margin-bottom: 0;
	font-size: 16px;
	padding: 15px 17px 15px;
}

.photo-page .custom-file {
	height: auto;
	width: 82%;
	vertical-align: middle;
}

.photo-page h2 {
	margin-bottom: 35px;
}

.photo-sbmt {
	display: inline-block;
	vertical-align: middle;
}

.photo-sbmt .post-btn {
	margin-top: 0;
	margin-left: 12px;
}

.browse-section {
	width: 81%;
}

.photo-wrapper {
	width: 91%;
}

.photo-list {
	width: 100%;
	margin-top: 68px;
	display: block;
}

.photo-bx {
	display: inline-block;
	margin-right: 2%;
	margin-bottom: 2%;
	width: 23%;
	vertical-align: top;
	height: 250px;
}

.photo-bx h4 {
	font-size: 20px;
	margin-top: 10px;
	font-weight: 600;
	font-family: 'Proxima Nova Lt';
	text-align: center;
}

.photo-bx:nth-child(4n) {
	margin-right: 0;
}

.photo-bx figure {
	border-radius: 15px;
	-webkit-border-radius: 15px;
	width: 100%;
	display: inline-block;
	vertical-align: top;
	overflow: hidden;
	position: relative;
	height: 100%;
	background-color: #f1f1f1;
}

.photo-bx figure > a {
	display: block;
}

.photo-overlay {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(45, 197, 244, 0.4);
	height: 0;
	opacity: 0;
	-webkit-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}

.photo-overlay a {
	width: 25px;
	height: 27px;
	margin-right: 20px;
	margin-top: 20px;
	text-align: right;
	display: block;
	margin-left: auto;
}

.photo-overlay a svg {
	fill: #fff;
	width: 100%;
	height: 100%;
}

.photo-overlay a:hover svg,
.photo-overlay a:focus svg {
	fill: #26a9e0;
}

.photo-bx figure img {
	width: 100%;
}

.photo-bx figure:hover .photo-overlay {
	height: 100%;
	opacity: 1;
}




/**** Video Page ****/

.video-thumb {
	border-radius: 15px;
	-webkit-border-radius: 15px;
	overflow: hidden;
}

.video-thumb figure img {
	border-radius: 0;
}

.video-overlay {
	background: rgba(50, 50, 50, 0.6);
	height: 100%;
	opacity: 1;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	-webkit-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}

.video-overlay a {
	width: 100%;
	height: 100%;
	display: block;
	text-align: center;
	color: #fff;
	display: flex;
	-webkit-display: flex;
	align-items: center;
	-webkit-align-items: center;
	justify-content: center;
	-webkit-justify-content: center;
}

.video-overlay a span {
	width: 76px;
	height: 76px;
	background: #f31010;
	border-radius: 50%;
	line-height: 76px;
	font-size: 30px;
	text-align: center;
}

.video-overlay a span i {
	padding-left: 5px;
}

.video-thumb {
	position: relative;
}

.video-page .modal-dialog {
	max-width: 800px;
	width: 100%;
}

.close {
	opacity: 1;
	position: absolute;
	top: -23px;
	right: -17px;
}

.close span {
	text-shadow: none;
	color: #fff;
	width: 60px;
	height: 60px;
	background: #2dc5f4;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	margin: 0;
	padding: 0;
	line-height: normal;
	max-width: 100%;
	display: block;
	line-height: 59px;
	font-size: 42px;
	border: 4px solid #fff;
}

.close:hover,
.close:focus {
	opacity: 1;
}

.close:hover span,
.close:focus span {
	background: #26a9e0;
}

.modal-header {
	padding: 0;
	z-index: 1;
	border: 0;
}

.story-inner-page .post-info-cntnt p+p {
	margin-top: 30px;
}

.story-inner-page .post-info-cntnt figure {
	margin-top: 60px;
}


/**** Forum Page ****/

.forum-main {
	padding: 70px 0;
}

.forum-bx figure {
	width: 227px;
	border-radius: 15px;
	-webkit-border-radius: 15px;
	overflow: hidden;
	margin-right: 30px;
	display: inline-block;
}

.forum-cntnt {
	display: inline-block;
	vertical-align: top;
	width: 80%;
}

.forum-bx {
	width: 100%;
	border-bottom: 1px solid #dcdcdc;
	padding-bottom: 48px;
	margin-bottom: 48px;
}

.forum-bx:last-child {
	border-bottom: 0;
	padding-bottom: 0;
	margin-bottom: 0;
}

.forum-cntnt h6 {
	font-family: 'Proxima Nova Lt';
	font-weight: 600;
	margin-top: 15px;
}

.forum-cntnt p {
	font-size: 20px;
	margin-top: 15px;
}

.forum-cntnt h2 {
	display: flex;
	-webkit-display: flex;
	align-items: center;
	-webkit-align-items: center;
}

.forum-cntnt h2 a {
	color: #303030;
}

.forum-cntnt h2 a:hover,
.forum-cntnt h2 a:focus {
	color: #20c4f4;
}

.forum-cntnt small {
	font-size: 18px;
	font-weight: 300;
	color: #242424;
	font-family: 'Proxima Nova Lt';
	margin-left: auto;
}

.forum-cmnt-sctn i {
	color: #20c4f4;
	font-size: 22px;
	margin-right: 15px;
}

.forum-cmnt-sctn span {
	font-size: 18px;
	color: #404040;
	font-family: 'Proxima Nova Lt';
	font-weight: 300;
}

.forum-cmnt-sctn {
	margin-top: 13px;
}

.dashboard-full {
	width: 100% !important;
	padding: 0 65px;
}


/**** Create Forum ****/

.create-forum {
	padding: 70px 0;
	/* width: 383px; */
	width: 80%; 
}

.create-forum h2 {
	margin-bottom: 25px;
}

.post-forum .form_control {
	width: 100%;
	height: 53px;
	margin-bottom: 20px;
	background: transparent;
}

.post-forum textarea.form_control {
	height: 133px;
	resize: none;
	padding: 10px 21px;
}

.post-forum .slct:after {
	color: #ababab;
	right: 28px;
}

.post-forum .post-btn {
	min-width: 229px;
}


/**** Forum Internal Page ****/

.forum-comment {
	margin-top: 35px;
}

.forum-comment form {
	width: 84%;
	display: flex;
	-webkit-display: flex;
	align-items: center;
	-webkit-align-items: center;
	justify-content: space-between;
	-webkit-justify-content: space-between;
}

.forum-comment p {
	display: inline-block;
	margin: 0;
}

.forum-comment .post-btn {
	margin: 0 !important;
}

.forum-comment .form_control {
	width: 100%;
}

.forum-full {
	width: 81%;
}

.forum-comment-bx {
	border-top: 1px solid #dcdcdc;
	width: 100%;
	padding-top: 33px;
	margin-top: 33px;
}

.forum-comment-main .forum-comment-bx:first-child {
	border-top: 0;
	padding-top: 0;
}

.forum-comment-bx figure {
	width: 61px;
	height: 61px;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	overflow: hidden;
	display: inline-block;
	margin-right: 37px;
}

.forum-txt h6 {
	font-family: 'Proxima Nova Lt';
	font-weight: 600;
	display: flex;
	-webkit-display: flex;
	align-items: center;
	-webkit-align-items: center;
	margin-bottom: 10px;
}

.forum-txt small {
	font-size: 18px;
	font-weight: 300;
	color: #242424;
	font-family: 'Proxima Nova Lt';
	margin-left: auto;
}

.forum-txt {
	width: 92.8%;
	display: inline-block;
	vertical-align: top;
}

.forum-txt p {
	font-size: 20px;
}


/**** Tree Page ***/

.tree-main {
	padding: 100px 0;
	text-align: center;
}

.tree-bx {
	width: 100%;
}

.tree-bx-inr figure {
	border: 4px solid #f1f1f1;
	width: 207px;
	height: 207px;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	overflow: hidden;
	position: relative;
}

.tree-bx-full {
	display: inline-block;
	margin-right: 86px;
	width: 207px;
}

.tree-bx-inr:last-child {
	margin-right: 0;
}

.tree-bx-inr h2 {
	font-size: 26px;
	color: #3f3f3f;
	text-transform: uppercase;
	font-weight: 400;
	font-family: 'Proxima Nova Rg';
	margin-top: 10px;
}

.tree-double-single.tree-bx {
	display: inline-flex;
	-webkit-display: inline-flex;
	vertical-align: top;
	width: 50%;
}

.tree-grand {
	width: auto;
	display: inline-block;
	border-bottom: 7px solid #dddddd;
	margin-bottom: 50px;
	position: relative;
	padding-bottom: 28px;
}

.tree-grand:before {
	background: #ddd;
	width: 6px;
	height: 43px;
	position: absolute;
	content: '';
	left: 0;
	top: 100%;
}

.tree-grand:after {
	background: #ddd;
	width: 6px;
	height: 43px;
	position: absolute;
	content: '';
	right: 0;
	top: 100%;
}

.tree-bx-med {
	width: 207px;
	display: inline-block;
	vertical-align: top;
}

.tree-bx-med:last-child {
	margin-right: 0;
}

.tree-double {
	display: flex;
	-webkit-display: flex;
	flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
	justify-content: space-evenly;
	-webkit-justify-content: space-evenly;
}

.tree-bx1 .tree-bx-med:last-child {
	margin-right: 0;
}

.prnt-sctn {
	display: inline-block;
	border-bottom: 7px solid #dddddd;
	margin-bottom: 50px;
	position: relative;
}

.prnt-sctn:before {
	background: #ddd;
	width: 6px;
	height: 43px;
	position: absolute;
	content: '';
	left: 0;
	top: 100%;
}

.prnt-sctn:after {
	background: #ddd;
	width: 6px;
	height: 43px;
	position: absolute;
	content: '';
	right: 0;
	top: 100%;
}

.prnt-sctn-main {
	width: 100%;
}

.tree-bx1 {
	justify-content: space-evenly;
	-webkit-justify-content: space-evenly;
	flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
	display: flex;
	-webkit-display: flex;
}

.prnt-sctn .tree-bx-med {
	margin-right: 86px;
}

.prnt-sctn .tree-bx-med:last-child {
	margin-right: 0;
}

.tree-bx-inr {
	position: relative;
}

.tree-bx-inr:first-child:after {
	background: #ddd;
	height: 6px;
	position: absolute;
	content: '';
	top: 27%;
	left: 100%;
	width: 50px;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	margin-left: 21px;
}

.tree-bx-inr:first-child:before {
	background: #ddd;
	position: absolute;
	width: 7px;
	height: 86%;
	content: '';
	left: 100%;
	margin-left: 41px;
	bottom: -12%;
}

.prnt-sctn-main .tree-bx1 .tree-bx-inr:after,
.prnt-sctn-main .tree-bx1 .tree-bx-inr:before {
	display: none;
}

.prnt-sctn-main .tree-bx-inr {
	margin-bottom: 28px;
}

.tree-overlay {
	background: rgba(32, 196, 244, 0.9);
	width: 100%;
	height: 100%;
	top: 0;
	position: absolute;
	left: 0;
	opacity: 0;
	z-index: 0;
	display: none;
}

.tree-ovrly:hover .tree-overlay {
	opacity: 1;
	display: block;
}

.invite-link {
	font-size: 18px;
	font-family: 'Proxima Nova Lt';
	font-weight: 300;
	text-decoration: underline;
	color: #fff;
	display: block;
}

.add-icn {
	color: #fff;
	font-size: 40px;
	display: inline-block;
}

.tree-overlay a:hover,
.tree-overlay a:focus {
	color: #e3e3e3;
}

.tree-overlay-main {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	left: 0;
	right: 0;
	margin: auto;
}

.overlay-cntnt {
	background: #f3f2f2;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	width: 242px;
	position: absolute;
	margin-right: 0;
	left: 0;
	z-index: 2;
	right: 0;
	margin-left: -13px;
	top: 100%;
	opacity: 0;
	display: none;
	margin-top: -28px;
	padding: 30px 21px;
	height: 313px;
	overflow-y: auto;
	text-align: left;
}

.overlay-cntnt label {
	display: block;
	margin-bottom: 0;
	font-size: 16px;
	color: #858484;
	font-family: 'Proxima Nova Lt';
	font-weight: 600;
}

.overlay-cntnt span {
	display: block;
	margin-bottom: 0;
	font-size: 16px;
	color: #404040;
	font-family: 'Proxima Nova Lt';
	font-weight: 300;
}

.overlay-cntnt p {
	margin-bottom: 10px;
}

.overlay-cntnt p:last-child {
	margin-bottom: 0px;
}

.overlay-cntnt .post-btn {
	font-size: 16px;
	min-width: 150px;
	padding: 10px;
}

.overlay-cntnt .post-btn:hover,
.overlay-cntnt .post-btn:focus {
	color: #fff;
}

.overlay-cntnt:after {
	content: '';
	border-left: 13px solid transparent;
	border-right: 13px solid transparent;
	border-bottom: 26px solid #f3f2f2;
	position: absolute;
	top: -20px;
	left: 45%;
}

.tree-ovrly:hover .overlay-cntnt {
	opacity: 1;
	display: block;
}


/*.tree-bx-inr:last-child .overlay-cntnt:after {
	border-left: 0;
	border-right: 26px solid #f3f2f2;
	right: auto;
	left: -23px;
}*/


/**** Tree Popup ****/

#invite_modal .modal-dialog {
	width: 578px;
	box-shadow: none;
	max-width: 100%;
}

#invite_modal .modal-body {
	padding: 0;
}

#invite_modal .modal-content {
	border: 0;
	padding: 38px 54px;
	text-align: center;
}

#invite_modal .modal-content h2 {
	width: 100%;    margin-bottom: 20px;
}

#invite_modal .btn-white {
	text-transform: none;
	font-size: 24px;
	width: 100%;
	margin-bottom: 17px;
	border-width: 2px;
}


/**** Add Member ****/

.add-member {
	width: 55%;
}

.inpt-med1 {
	display: flex;
	-webkit-display: flex;
	justify-content: space-between;
	-webkit-justify-content: space-between;
	flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
}

.inpt-med1 p {
	width: 48%;
}

.create-forum .radio_list label {
	font-size: 18px;
	color: #404040;
	margin-bottom: 0;
}

.add-member .post-forum .post-btn {
	min-width: 169px;
}

.post-btn-brdr {
	color: #2dc5f4;
	background: transparent;
}

.add-member .post-btn-brdr {
	margin-left: 13px;
}

.add-member .radio_list {
	margin-top: 27px;
}

.tp-24 {
	margin-top: 24px;
}


/**** Group Page ****/

.create-grp {
	min-width: 229px;
}

.group-main {
	padding: 32px 0;
}

.group-main .post-btn {
	margin-top: 0;
	margin-left: auto;
}

.group-create {
	display: flex;
	-webkit-display: flex;
	flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
}

.group-main .nav-tabs .nav-link {
	border: 1px solid #d9d9d9;
	border-radius: 0;
	padding: 11px;
	min-width: 229px;
	text-align: center;
	font-size: 22px;
	color: #5b5b5b;
	text-transform: capitalize;
	font-family: 'Proxima Nova Lt';
	font-weight: 300;
	border-radius: 4px;
	-webkit-border-radius: 4px;
}

.group-main .nav-tabs {
	border: 0;
}

.group-main .nav-tabs .nav-link.active {
	background: #2dc5f4;
	color: #fff;
	border-color: #2dc5f4;
}

.group-main .nav-tabs .nav-item {
	margin-bottom: 0;
	margin-right: 30px;
}

.group-main .nav-tabs .nav-item:last-child {
	margin-right: 0;
}

.mygroup-bx figure {
	border-radius: 15px;
	-webkit-border-radius: 15px;
	overflow: hidden;
	margin-bottom: 24px;
}

.mygroup-bx figure img {
	width: 100%;
}

.mygroup-bx {
	margin-right: 2%;
	display: inline-block;
	width: 23.25%;
	margin-bottom: 65px;
}

.mygroup-bx:nth-child(4n) {
	margin-right: 0;
}

.group-main .tab-content>.tab-pane {
	padding-top: 40px;
}

.mygroup-bx h5 {
	color: #303030;
	font-weight: 300;
	font-family: 'Proxima Nova Lt';
	text-transform: capitalize;
	text-align: center;
}

.mygroup-bx p {
	font-size: 18px;
	color: #404040;
	font-weight: 300;
	font-family: 'Proxima Nova Lt';
	text-align: center;
	margin-top: 7px;
}

.create-grp {
	min-width: 180px !important;
}

.group-main .nav-tabs .nav-link {
	font-size: 19px;
	min-width: 220px;
}


/**** Create Group Page ****/


.group-internal .bootstrap-tagsinput {
	width: 100%;}
.create-post .group-internal {
	width: 534px;
}

.create-post .group-internal .txtsctn {
	width: 199px;
	right: 50px;
}

.create-post .group-internal .post-btn {
	min-width: 229px;
}

.create-post .group-internal .post-create input[type="text"].cptl {
	padding: 0 20px;
}

.create-post .group-internal .bootstrap-tagsinput {
	width: 100%;
	padding: 13px 20px;
}

.create-post .group-internal .bootstrap-tagsinput input[type="text"] {
	width: 55%;
}

.group-internal p.form_control.tg-input {
	height: auto;
	padding: 12px 28px;
}




/**** Question Page ****/

.question-page {
	padding: 70px 0;
	width: 81%;
}

.question-page h4 {
	color: #242424;
	/* font-weight: 300; */
	/* font-family: 'Proxima Nova Lt'; */
	line-height: 39px;
	font-weight: bold;
    font-family: 'Proxima Nova Rg';
}
.question-page-main {
	margin-top: 68px;
}


/*.accordion .card-header:after {
    font-family: 'FontAwesome';  
    content: "\f068";
    float: right; 
}
.accordion .card-header.collapsed:after {
    symbol for "collapsed" panels 
    content: "\f067"; 
}*/

.question-page .card-header {
	border-bottom: 0;
	background: transparent;
	padding: 0;
}

.question-page .card-header h6 {
	color: #242424;
	font-weight: 300;
	font-family: 'Proxima Nova Lt';
}

.question-page .card-header h6 a {
	color: #242424;
	display: block;
}

.question-page .card {
	margin-bottom: 20px;
	border-radius: 5px !important;
	-webkit-border-radius: 5px !important;
	border: 1px solid #d9d9d9 !important;
	padding: 15px 30px;
}

.question-page .card-header a:after {
	position: absolute;
	right: 0;
	top: 0;
	font-family: 'FontAwesome';
	content: "\f107";
	color: #6d6d6d;
	font-size: 23px;
	right: 30px;
	top: 12px;
}

.question-page .card-header a.collapsed:after {
	font-family: 'FontAwesome';
	content: "\f105";
}

.question-page .card-body {
	padding: 0;
	margin-top: 23px;
	margin-bottom: 10px;
}

/* .question-page .card-body form .form_control {
	margin-right: 17px;
	width: 813px;
	display: inline-block;
	vertical-align: middle;
} */

.custom-file-input ~ .custom-file-label::after {
	content: "";
	background: url(../images/attach.svg) no-repeat;
	width: 41px;
	height: 44px;
}

.question-page .card-body .input-group-btn {
	width: 100%;
	height: 100%;
}

.question-page .card-body .form_control .btn1 {
	width: 100%;
	height: 100%;
}

.question-page .card-body .txtsctn {
	width: 97%;
}

.question-page .card-body .post-btn {
	vertical-align: middle;
	margin-top: 0;
}


/**** Chat Box ****/

.chat-page {
	padding: 50px 0;
}

.inbox_people {
	background: #4e5f6e;
	overflow: hidden;
	width: 27%;
	display: inline-block;
}

.mesgs-main .btn-white {
	margin-bottom: 27px;
	min-width: 279px;
}

.inbox_msg {
	clear: both;
	overflow: hidden;
}

.top_spac {
	margin: 20px 0 0;
}

.recent_heading {
	float: left;
	width: 40%;
}

.srch_bar {
	display: block;
	position: relative;
}

.heading_srch {
	padding: 18px;
}

.srch_bar .search-bar {
	border: 1px solid #d9d9d9;
	width: 100%;
	padding: 0 57px 0 25px;
	font-family: 'Proxima Nova Lt';
	height: 57px;
	background: #fff;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	color: #404040;
	font-size: 18px;
}

.srch_bar .search-bar:focus {
	border-color: #20c4f4;
}

.srch_bar .input-group-addon button {
	border: 0;
	background: transparent;
	padding: 0;
	color: #30c8f5;
	font-size: 27px;
	cursor: pointer;
}

.srch_bar span.input-group-addon {
	position: absolute;
	right: 26px;
	top: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
}

.chat_ib h5 {
	font-size: 30px;
	color: #fff;
	font-weight: 300;
	font-family: 'Proxima Nova Lt';
	text-transform: capitalize;
}

.chat_ib h5 span {
	font-size: 13px;
	float: right;
}

.chat_ib p {
	font-size: 14px;
	color: #989898;
	margin: auto
}

.chat_img {
	width: 18%;
	border-radius: 50%;
	overflow: hidden;
	display: inline-block;
	vertical-align: middle;
}

.chat_ib {
	margin-left: 9%;
	max-width: 71%;
	display: inline-block;
	vertical-align: middle;
}

.chat_people {
	overflow: hidden;
	clear: both;
}

.chat_list {
	border-top: 1px solid #606f7d;
	margin: 0;
	padding: 14px 18px;
}

.inbox_chat {
	height: 757px;
	overflow-y: auto;
	padding-bottom: 50px;
}

.active_chat {
	background: #;
}

.incoming_msg_img,
.outgoing_msg_img {
	display: inline-block;
	width: 7%;
	border-radius: 50%;
	overflow: hidden;
}

.incoming_msg_img img,
.outgoing_msg_img img {
	width: 100%;
}

.incoming_msg {
	margin-bottom: 26px;
}

.received_msg {
	display: inline-block;
	padding: 19px 24px;
	vertical-align: top;
	max-width: 89%;
	border-radius: 15px;
	-webkit-border-radius: 15px;
	overflow: hidden;
	background: #f1f1f1;
	margin-left: 32px;
}

.received_withd_msg p {
	color: #242424;
	font-size: 20px;
	margin: 0;
	width: 100%;
	font-family: 'Proxima Nova Lt';
	font-weight: 300;
}

.time_date {
	color: #747474;
	display: block;
	font-size: 12px;
	margin: 8px 0 0;
}

.received_withd_msg {
	width: 100%;
}

.mesgs {
	padding: 36px 36px 60px;
	border: 1px solid #d9d9d9;
	height: 850px;
	display: inline-block;
	width: 100%;
	vertical-align: top;
}

.mesgs-main {
	width: 70%;
	display: inline-block;
	margin-left: 2%;
	vertical-align: top;
}

.usr-name h3 {
	color: #404040;
	font-family: 'Proxima Nova Lt';
	font-weight: 300;
	margin-bottom: 40px;
	display: inline-block;
	vertical-align: middle;
}

.sent_msg p {
	font-size: 20px;
	margin: 0;
	color: #242424;
	width: 100%;
	font-family: 'Proxima Nova Lt';
	font-weight: 300;
}

.outgoing_msg {
	overflow: hidden;
	margin: 0 0 26px;
	text-align: right;
}

.sent_msg {
	display: inline-block;
	margin-right: 32px;
	vertical-align: top;
	max-width: 89%;
	border-radius: 15px;
	-webkit-border-radius: 15px;
	overflow: hidden;
	padding: 19px 24px;
	background: #e4f9ff;
}

.msg_history {
	height: 82%;
	padding-bottom: 30px
}

.type_msg {
	position: relative;
	display: flex;
	-webkit-display: flex;
	flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
	justify-content: space-between;
	-webkit-justify-content: space-between;
}

.type_msg .post-btn {
	margin: 0;
	min-width: 149px;
	margin-left: 15px;
}

.type_msg .form_control {
	width: 82%;
}

.msg_history .mCSB_outside + .mCS-minimal.mCSB_scrollTools_vertical,
.msg_history .mCSB_outside + .mCS-minimal-dark.mCSB_scrollTools_vertical {
	right: -30px;
}


/*.msg_history {
  height: 840px;
  overflow-y: auto;
}*/

.close-group img {
	width: 21px;
	vertical-align: middle;
}

.close-group {
	display: inline-block;
	vertical-align: middle;
	width: auto !important;
}

.chat_people > a {
	width: 92%;
	display: inline-block;
}

.close-group:hover,
.close-group:focus {
	opacity: 0.6;
}

.usr-name figure {
	width: 60px;
	overflow: hidden;
	border-radius: 17px;
	-webkit-border-radius: 17px;
	display: inline-block;
	margin-right: 17px;
}

.group-chat .inbox_people {
	margin-top: 82px;
}


/**** Group Internal Page ****/

.grp-intrn .dashboard-wrapper {
	margin-top: 0;
}

.grp-intrn-main {
	border-bottom: 1px solid #dcdcdc;
	padding-bottom: 48px;
	margin-bottom: 48px;
}

.grp-intrn-main .forum-cntnt {
	width: 74%;
}

.grp-btn {
	margin-top: 27px;
	width: 100%;
}

.grp-btn a+a {
	margin-left: 30px;
}
/**** Add Member Popup ****/

#invite_member_modal .modal-dialog {
	width:767px;
	box-shadow: none;-webkit-box-shadow: none;
	max-width: 100%;
}

#invite_member_modal .modal-body {
	padding: 0;
}

#invite_member_modal .modal-content {
	border: 0;
	padding: 55px;
	text-align: left;
}

#addmember_modal .modal-dialog {
	width:767px;
	box-shadow: none;-webkit-box-shadow: none;
	max-width: 100%;
}

#addmember_modal .modal-body {
	padding: 0;
}

#addmember_modal .modal-content {
	border: 0;
	padding: 55px;
	text-align: left;
}

#addmember_modal  form{margin-top: 30px;}
#addmember_modal .form_control{width: 100%;    margin-bottom: 20px;padding: 14px 22px;}
#addmember_modal .bootstrap-tagsinput{width: 100%;}
#tree figure{    border: 4px solid #f1f1f1;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    overflow: hidden;
    position: relative;}

div.node{ width: 80px !important;
    height: auto !important;}
#tree figure img{width: 100%;}
#tree h2{    font-size: 15px;
    color: #fff;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);}
#tree h2 span {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
}




/* harwinder */


.family-modal .modal-dialog
{
	width: 100%;
}
.family-modal .modal-content
{
	position: relative;  
}
.add-member-body
{
	padding: 20px 10px;
}
.add-member-body ul 
{
	display: flex;
	flex-wrap: wrap;
}
.add-member-body ul li
{
	list-style: none;
    width: 33%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
.add-member-body ul li:nth-child(1),
.add-member-body ul li:nth-child(2),
.add-member-body ul li:nth-child(3)
{
	margin-top:0;
}
.add-member-body ul li > a
{
	width: 140px;
    height: 100px;
    display: flex;
    background-color: #e7e7e7;
    align-items: center;
    justify-content: center;
    border-radius: 9px;
    box-shadow: 4px 6px 10px rgba(0, 0, 0, 0.09);
    color: #fff;
	flex-direction: column;
}
.add-member-body ul li > a:hover
{
 background-color: #b7e7f5;	
 box-shadow: 4px 6px 15px rgba(0, 0, 0, 0.09);
}  
.modal-backdrop.show
{
	opacity: 0.9;
}
.add-member-body ul li > a figure
{
margin-bottom: 8px;
}
.add-member-body ul li > a figure svg.svg-icon 
{
    width: 40px;
    height: 40px;
    display: block;
    fill: #2dc5f4;
}
.add-member-body ul li > a p
{
	color: #483e3e;
    font-weight: 600;
    font-size: 16px;
    text-transform: uppercase;
}

.close-btn
{
	position: absolute;
	top: -20px;
	right: -20px;
	width: 40px;
	height: 40px;
	-webkit-border-radius:100%;
	-moz-border-radius:100%;
	border-radius:100%;
	color: #fff;
	background-color: #f00;
	display: flex;
    align-items: center;
    justify-content: center;
	z-index: 999;
	
}
.close-btn:hover,
.close-btn:focus
{
	color: #fff; 
	background-color: #cb4040;
}
.account-wrap .account-dropdown .info
{
	position: relative;
}
.account-wrap .account-dropdown .info .image
{
	position: absolute;
    top: 10px;
    left: 20px;
}

.account-wrap .account-dropdown .info .content
{
	padding-left: 3.54rem;
    width: 100%;
}

.post-info-sctn-lft figure img {
    height: 100%; 
}

.center-btn
{
	display: table;
	margin: auto;
}

.question-page-main .card-body .form_control
{
width: 100%;
padding: 10px;
}
.question-page-main .card-body textarea.form_control
{
	resize: none;
}

.story-page .input-group-btn
{
	width: 100%;
	height: 100%;
}

/* .post-forum  .input-group.form_control
{
height: 100%;
} */
.post-forum .form_control .btn1
{
	height: 100%;
}

.story-page .input-group-btn + .txtsctn
{
	width: 100%;
	padding: 13px 22px;
	border-radius: 5px;
	top: 0;
}
.post-create #thumbnil
{
width:100px;
background-color: #f1f1f1;
}
body .chosen-container-multi .chosen-choices {
    padding: 10px 18px;
    width: 100%;
    border: 1px solid #d1d1d1;
    background-color: #fff;
    background-image: none;
	font-size: 15px;
	box-shadow: none;
}
#user_invite_member .select_family_members 
{
   width: 100%;
}

#user_invite_member p
{
	margin-bottom: 15px;
}
#invite_member_modal .modal-header + .modal-body
{
	margin-top: 15px;
}

/* header .account-dropdown */
/* { */
	/* margin-bottom: 10px; */
/* } */
/* header .account-dropdown .account-dropdown__body  */
/* { */
    /* display: flex; */
    /* justify-content: flex-end; */
    /* align-items: center;  */
/* } */
/* header .account-dropdown .account-dropdown__item {  */
    /* margin-left: 20px; */
/* } */
/* header .account-dropdown .account-dropdown__item > a { */
    /* background-color: #20c4f4; */
    /* display: block; */
    /* padding: 10px 15px; */
    /* color: #fff; */
    /* border-radius: 5px; */
/* } */
/* header .account-dropdown .account-dropdown__item a span { */
    /* margin-right: 10px; */
/* }  */
.account-wrap .account-dropdown .account-dropdown__item a {
    display: block; 
    color: #000;
    padding: 0.9375rem 1.5625rem;
    font-size: 1rem;
    font-weight: normal;
	position:relative;
}
.account-wrap .account-dropdown .account-dropdown__item a:hover,
.account-wrap .account-dropdown .account-dropdown__item a:focus
{
	    background: #26a9e0;
    color: #fff;
}

.account-wrap .account-dropdown__item a span {
    position: absolute;
    top: 11px;
    left: 31px;
    width: 13px;
    height: 13px;
    background: #20c4f4;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 11px;
    text-indent: -1px;
	-webkit-transition:all ease-in-out 0.5s;
	-moz-transition:all ease-in-out 0.5s;
	transition:all ease-in-out 0.5s;
}


.account-wrap .account-dropdown .account-dropdown__item a:hover span,
.account-wrap .account-dropdown .account-dropdown__item a:focus span
{
	background-color:#fff;
	color:#20c4f4;
}
.account-wrap .account-item .image {
    width: 3.625rem;
    height: 3.625rem;
    display: inline-block;
    vertical-align: middle;
    background-color: #f1f1f1;
    position: relative;
    border-radius: 50%;
    -webkit-border-radius: 50%;
}
.account-wrap .account-item .image .notify {
    position: absolute;
    top: 0;
    right: 0;
    width: 13px;
    height: 13px;
    background: #20c4f4;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 11px;
    text-indent: -1px;
    -webkit-transition: all ease-in-out 0.5s;
    -moz-transition: all ease-in-out 0.5s;
    transition: all ease-in-out 0.5s;
}

/* .orgdiagram */
/* { */
	/* overflow-y:auto !important; */
/* } */


.input-group-btn
{
	width:100%;
}
.no-found
{
	padding:0 15px;
}

.sidenav .dropdown-menu1 li {
    margin-bottom: 10px;
}
.sidenav .dropdown-menu1 li:last-child {
    margin-bottom: 0;
}
.sidenav ul li .drop-down.open .fa-angle-right:before { 
    top: -42px;
}  

h2 + .table-bordered 
{
	  margin-top:20px;
}
 .table-bordered thead
 {
	 background-color:#d1d1d1;
 }
.table-bordered thead th
{
	border-bottom:0;
}
 
@media only screen and (min-width: 1500px) {
	.container {
		max-width: 1470px; 
	} 
}

@media only screen and (max-width: 1499px) {
	.form_control {
		height: 43px;
		font-size: 15px;
	}
	.slct:after {
		font-size: 1.1875rem;
	}
	h2 {
		font-size: 27px;
	}
	h3 {
		font-size: 25px;
	}
	h4 {
		font-size: 22px;
	}
	h5 {
		font-size: 21px;
	}
	h6 {
		font-size: 18px;
	}
	.owl-prev,
	.owl-next {
		left: 0;
		width: 2.5rem;
		height: 2.5rem;
		line-height: 2.25rem;
	}
	.owl-next {
		left: auto;
		right: 0;
	}
	.owl-prev:before,
	.owl-next:before {
		font-size: 1.3125rem;
	}
	header .head-wrap .head-wrap-lft a {
		width: 150px;
	}
	header .head-wrap .head-wrap-lft {
		padding: 22px;
		width: 240px;
	}
	header .head-wrap .head-wrap-rght {
		padding: 15px;
	}
	header .head-wrap .head-wrap-rght .form-group-main .form_control {
		padding-right: 30px;
		width: 400px;
	}
	header .head-wrap .head-wrap-rght .form-group-main button {
		right: 33px;
		font-size: 17px;
	}
	.btn-white,
	.btn-blue {
		font-size: 18px;
		min-width: 180px;
		padding: 7px;
	}
	header .head-wrap .head-wrap-rght .form-group-main {
		margin-right: 25px;
	}
	.account-wrap {
		margin-left: 20px;
	}
	.account-wrap .account-item .image {
		width: 45px;
		height: 45px;
	}
	.usr-svg svg {
		width: 30p;
		height: 18px;
	}
	.usr-edit svg {
		width: 18px;
		height: 18px;
	}
	.account-wrap .account-dropdown:after {
		right: 38px;
	}
	.account-wrap .account-dropdown {
		top: 47px;
	}
	.dashboard_content {
		margin-top: 76px;
	}
	.sidenav {
		top: 75px;
	}
	.MyClass {
		width: 256px;
	}
	.sidenav.MyClass a svg {
		width: 25px;
		height: 25px;
		top: 46%;
	}
	.sidenav .sidebar-mnu > li> a {
		padding: 14px 20px 14px 20px;
		height: auto;
		border-right-width: 5px;
	}
	.sidenav .dropdown-menu li a {
		font-size: 16px;
	}
	.sidenav a svg {
		left: 20px;
	}
	.sidenav ul li.has-children > a:after {
		font-size: 18px;
		right: 20px;
	}
	.sidenav.MyClass a span {
		font-size: 18px;
		padding-left: 45px;
		height: auto;
	}
	.sidebar-rght {
		margin-left: 256px;
		padding: 35px 30px 0;
	}
	.share-post-sctn {
		padding: 9px 20px;
	}
	.dashboard-wrapper {
		width: 100%;
	}
	.share-post figure img {
		width: 35px;
	}
	.share-post-sctn {
		width: 93%;
		margin-right: 20px;
	}
	.share-post {
		margin-bottom: 50px;
	}
	.sidenav .dropdown-menu {
		padding: 10px 10px 10px 66px;
	}
	.post-info-sctn-lft figure {
		width: 80px;
		height: 80px;
		margin-right: 20px;
	}
	.post-info-sctn-lft h2 {
		font-size: 24px;
	}
	.date-sctn {
		font-size: 16px;
	}
	.dot-sctn {
		margin-left: 30px;
	}
	.view_links1 svg {
		width: 18px;
		height: 18px;
		margin-right: 20px;
	}
	.view_links1 li {
		font-size: 15px;
	}
	.view_links1 {
		width: 170px;
	}
	.post-info-cntnt p {
		font-size: 18px;
	}
	.post-info-cmnt li a {
		font-size: 16px;
	}
	.post-main-bx {
		padding-bottom: 30px;
		margin-bottom: 30px;
	}
	.account-wrap .account-dropdown {
		min-width: 280px;
	}
	/**** Create Post Page ****/
	.tp_89 {
		margin-top: 0;
	}
	.create-post h2 {
		margin-bottom: 20px;
	}
	.form_control .btn1 {
		font-size: 15px;
		padding: 15px 0 15px 20px;
	}
	.attch-file {
		width: 19px;
		height: 19px;
	}
	.post-btn {
		min-width: 150px;
		padding: 10px;
		font-size: 18px;
	}
	/**** My Story Page ****/
	.timeline-sctn figure {
		height: 229px;
	}
	.timeline-sctn .p-image img {
		width: 35px;
	}
	.dashboard-wrapper {
		padding: 0 45px;
		/* margin-top: 0px; */
	}
	.timeline-image {
		padding: 0 45px;
	}
	.timeline-name h2 {
		font-size: 24px;
	}
	.timeline-name {
		margin-left: 30px;
	}
	.timeline-lft {
		width: 180px;
		height: 180px;
	}
	.timeline-lft > figure {
		width: 180px;
		height: 180px;
		line-height: 177px;
	}
	.timeline-image .p-image {
		width: 50px;
		height: 50px;
	}
	.timeline-image .p-image figure {
		line-height: 50px;
	}
	.timeline-image .p-image figure img {
		width: 23px;
	}
	.timeline-image ul li {
		font-size: 17px;
		margin-right: 40px;
	}
	.timeline-image ul {
		margin-left: 50px;
	}
	/**** Bio Page ****/
	.bio-page h1 {
		font-size: 30px
	}
	.bio-head figure {
		width: 30px;
	}
	.bio-page p {
		margin-bottom: 15px;
	}
	.bio-page form .form_control {
		height: 43px;
		font-size: 15px;
	}
	.bio-page form h2 {
		margin-bottom: 20px;
	}
	.bio-page .post-btn {
		min-width: 220px;
		margin-top: 20px;
	}
	/**** Photo Page ****/
	.photo-page .custom-file .form_control {
		padding: 13px 17px;
		font-size: 15px;
	}
	.browse-section {
		width: 100%;
	}
	.photo-page .custom-file {
		width: 80.2%;
	}
	.photo-list {
		margin-top: 40px;
	}
	.photo-bx h4 {
		font-size: 18px;
	}
	/**** Video Page ****/
	.video-overlay a span {
		width: 50px;
		height: 50px;
		line-height: 50px;
		font-size: 17px;
	}
	/**** My Story Inner Page ****/
	.story-inner-page .post-info-cntnt p+p {
		margin-top: 20px;
	}
	.story-inner-page .post-info-cntnt figure {
		margin-top: 30px;
	}
	.post-main h1 {
		font-size: 23px;
	}
	/**** Forum Page ****/
	.forum-main {
		padding: 50px 0;
	}
	.forum-bx figure {
		width: 200px;
		margin-right: 20px;
	}
	.forum-cntnt {
		width: 72%;
	}
	.forum-cntnt h6 {
		margin-top: 10px;
	}
	.forum-cntnt p {
		font-size: 16px;
		margin-top: 10px;
	}
	.forum-cntnt small {
		font-size: 15px;
	}
	.forum-bx {
		padding-bottom: 38px;
		margin-bottom: 38px;
	}
	.forum-cmnt-sctn span {
		font-size: 16px;
	}
	.forum-cmnt-sctn i {
		font-size: 20px;
	}
	/**** Create Forum ****/
	.create-forum {
		padding: 50px 0;
	}
	.post-forum .post-btn {
		min-width: 220px;
	}
	/**** Forum Internal Page ****/
	.forum-comment .post-btn {
		padding: 8px;
		font-size: 19px;
	}
	.forum-comment form {
		width: 100%;
	}
	.forum-full {
		width: 73%;
	}
	.forum-full .form_control {
		height: 44px;
	}
	.forum-comment {
		margin-top: 25px;
	}
	.forum-comment p {
		margin-top: 0;
	}
	.forum-comment-bx {
		padding-top: 22px;
		margin-top: 22px;
	}
	.forum-txt p,
	.forum-txt small {
		font-size: 16px;
	}
	.forum-comment-bx figure {
		margin-right: 25px;
	}
	.forum-txt {
		width: 88.8%;
	}
	/**** Tree Page ****/
	.tree-main {
		padding: 80px 0;
	}
	.tree-bx-inr h2 {
		font-size: 21px;
	}
	.tree-bx-inr figure {
		width: 150px;
		height: 150px;
	}
	.tree-bx-inr figure img {
		max-width: 140px;
		vertical-align: bottom;
	}
	.tree-bx-full,
	.tree-bx-med {
		width: 150px;
	}
	.prnt-sctn:before,
	.prnt-sctn:after,
	.tree-grand:before,
	.tree-grand:after {
		height: 50px;
	}
	.add-icn {
		font-size: 27px;
	}
	.invite-link {
		font-size: 16px;
	}
	.overlay-cntnt {
		margin-left: -48px;
	}
	.tree-grand {
		padding-bottom: 17px;
	}
	.prnt-sctn-main .tree-bx-inr {
		margin-bottom: 21px;
	}
	/**** Tree Popup ****/
	#invite_modal .modal-dialog {
		width: 500px;
	}
	#invite_modal .btn-white {
		margin-bottom: 10px;
		font-size: 19px;
	}
	/**** Add Member ****/
	.add-member {
		width: 80%;
	}
	.create-forum .radio_list label {
		font-size: 16px;
	}
	.tp-24 {
		margin-top: 14px;
	}
	.add-member .radio_list {
		margin-top: 17px;
	}
	.radio_list span.circle {
		width: 16px;
		height: 16px;
	}
	/**** Group Page *****/
	.mygroup-bx p {
		font-size: 16px;
	}
	.mygroup-bx figure {
		margin-bottom: 20px;
	}
	.mygroup-bx {
		margin-bottom: 45px;
		width: 23.1%;
	}
	/**** Create Group ****/
	
	.group-internal .post-create label {
		width: 57%;
	}
	.txtsctn{width: 72%;}
	
	/**** Question Page ****/
	.question-page {
		padding: 40px 0;
		width: 100%;
	}
	.question-page h4 {
		font-size: 22px;
		line-height: 33px;
	}
	.question-page-main {
		margin-top: 40px;
	}
	.question-page .card-body .txtsctn {
		top: 9px;
	}
	/* .question-page .card-body form .form_control {
		width: 622px;
		margin-right: 15px;
	} */
	.question-page .card-body .post-btn {
		padding: 6px;
		font-size: 17px;
	}
	/**** Chat Page ****/
	.inbox_people {
		width: 33%;
	}
	.mesgs-main {
		width: 64%;
	}
	.srch_bar .search-bar {
		font-size: 16px;
		height: 43px;
		padding: 0 39px 0 15px;
	}
	.srch_bar span.input-group-addon {
		right: 15px;
	}
	.srch_bar .input-group-addon button {
		font-size: 18px;
	}
	.chat_ib {
		margin-left: 5%;
	}
	.chat_ib h5 {
		font-size: 18px;
	}
	.chat_list {
		padding: 10px 18px;
	}
	.mesgs {
		padding: 20px 20px 40px;
		height: 482px;
	}
	.close-group img {
		width: 13px;
	}
	.mesgs-main .btn-white {
		min-width: 250px;
	}
	.group-chat .inbox_people {
		margin-top: 72px;
	}
	.usr-name figure {
		width: 50px;
	}
	.usr-name h3 {
		font-size: 21px;
	}
	.incoming_msg_img,
	.outgoing_msg_img {
		width: 10%;
	}
	.received_withd_msg p,
	.sent_msg p {
		font-size: 16px;
	}
	.received_msg,
	.sent_msg {
		max-width: 85%;
		padding: 15px;
	}
	.received_msg {
		margin-left: 20px;
	}
	.sent_msg {
		margin-right: 20px;
	}
	.inbox_chat {
		height: 402px;
		padding-bottom: 30px;
	}
	.msg_history .mCSB_outside + .mCS-minimal.mCSB_scrollTools_vertical,
	.msg_history .mCSB_outside + .mCS-minimal-dark.mCSB_scrollTools_vertical {
		right: -16px;
	}
	.incoming_msg,
	.outgoing_msg {
		margin-bottom: 10px;
	}
	.msg_history {
		padding-bottom: 19px;
		height: 76%;
	}
	.type_msg .post-btn {
		min-width: 130px;
		padding: 6px;
	}
	.type_msg .form_control {
		width: 71%;
	}
	/**** Group Internal Page ****/
	.grp-intrn-main {
		padding-bottom: 38px;
		margin-bottom: 38px;
	}
	/**** Add Member Popup ****/
	#addmember_modal .modal-dialog{width: 700px;}
	#addmember_modal form {
    margin-top: 15px;
}
	#addmember_modal .form_control{margin-bottom: 15px;}
	
	
	.alert{
		padding:.4rem 1.25rem;
		font-size:1rem;
	}
	.sidenav .dropdown-menu1
	{
		padding:10px 0 15px 66px;
	}
	.sidenav ul li .drop-down.open .fa-angle-right:before {
    top: -22px;
}
.slct:after
{
     top: 19px;
}
.group-main .nav-tabs .nav-link {
    font-size: 18px;
    min-width: 180px;
	padding:8px 11px;
}
.group-main .nav-tabs .nav-item {
    margin-right: 15px;
}

.sidenav .dropdown-menu1 li a
{
	font-size:17px;
}
.sidenav ul li .drop-down 
{
	top:14px;
}
.mesgs-main .btn-white {
    min-width: 180px;
}
}